@use "../../scss/variables" as *;

.title-overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.title-info {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  img {
    flex-basis: 25%;
  }
}

.title-data {
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 7%;

  div {
    font-style: italic;
    font-size: 25px;
  }

  div,
  h1,
  p,
  h3 {
    color: $white;
  }

  .nav-links {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}


  a {
    font-size: 25px;
    flex-basis: content;
    text-decoration: none;
    color: $white;
    box-shadow: inset 0 0 0 0 $black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: inset 200px 0 0 0 $black;
    }
  }

 
}

// Media Queries

@media only screen and (max-width: 767px) {
 .title-data{
  flex-basis: 86%;
 }
}